@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Roboto+Slab:wght@400;500;700&display=swap");

.container {
  max-width: 100%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  overflow-x: auto;
}

form {
  background-color: transparent;
  padding: 0;
}

input,
select {
  width: 100%;
  padding: 12px;
  margin-top: 8px;
  border: 1px solid #ced4da;
  border-radius: 6px;
  font-size: 16px;
  box-sizing: border-box;
  transition: border 0.3s ease;
}

input:focus,
select:focus {
  border-color: #123b68;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
  color: #383838;
  font-family: "Montserrat", sans-serif;
}

.form-group.radio-group {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 15px;
}

.radio-group-title {
  font-weight: bold;
  margin-bottom: 10px;
  display: block;
}

.radio-group label {
  font-weight: normal;
  display: inline-block;
  text-align: center;
}

.radio-group input[type="radio"] {
  margin-right: 5px;
}

button[type="submit"] {
  width: 100%;
  padding: 12px;
  background-color: #123b68;
  color: white;
  border: none;
  border-radius: 6px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
}

button[type="submit"]:disabled {
  background-color: #6c757d;
}

/* Sort button styling */
.sort-button {
  margin-top: 15px; /* Space above the button */
  margin-bottom: 15px; /* Optional: Space below the button */
}

.charts {
  margin-top: 30px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  max-width: 100%;
  overflow-x: auto;
}

.chart-container {
  margin-bottom: 30px;
  max-width: 100%;
}

.chart-container h4 {
  color: #383838;
  text-align: center;
  margin-bottom: 20px;
  font-family: "Roboto Slab", serif;
}

canvas {
  max-width: 100%;
  height: 300px;
  margin: 0 auto;
  display: block;
}

/* Bar chart colors specific to employee management */
.bar-chart .dataset-0 {
  background-color: #a6dcd9;
  border-color: #89c5c1;
}

/* Pie chart colors specific to employee management */
.pie-chart .dataset-0 {
  background-color: rgba(54, 162, 235, 0.2);
}

.pie-chart .dataset-1 {
  background-color: rgba(255, 99, 132, 0.2);
}

.pie-chart .dataset-2 {
  background-color: rgba(255, 206, 86, 0.2);
}

/* Responsive design for employee management component */
@media (max-width: 768px) {
  .container {
    max-width: 90%;
    padding: 20px;
  }

  .charts {
    max-width: 90%;
    padding: 20px;
  }

  form {
    padding: 15px;
  }

  canvas {
    height: 250px;
  }
}

@media (max-width: 480px) {
  .container,
  .charts {
    max-width: 100%;
    padding: 15px;
  }

  canvas {
    height: 200px;
  }
}
